# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# OS
.DS_Store

# Large files (optional, if you want to exclude PDFs)
*.pdf

# Large data directories (too big for git)
v_1/data/downloaded/filtered_json_files/
v_1/data/downloaded/full_corpus_dir/
